---
title: Showing an ArcGIS basemap
description: Display an ArcGIS Online basemap.  Notice that the map attribution updates automatically as users pan and zoom in accordance with Esri's <a href='https://github.com/esri/esri-leaflet#terms'>Terms of Use</a>.
layout: example.hbs
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([39, -97.5], 4);

  L.esri.basemapLayer({
       url:"http://60.10.25.220:6080/FSXY/rest/services/FUJIAN/MapServer"
  }).addTo(map);
</script>
